/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/outputs.h>
#include <locale/keys_de.h>

#define DEFAULT 0
#define NUM 1
#define NAV 2
#define CMD 3

# define ______ &trans

/ {
    behaviors {

        comma_semi: comma_semi {
            compatible = "zmk,behavior-mod-morph";
            #binding-cells = <0>;
            bindings = <&kp COMMA>, <&kp SEMI>;
            mods = <(MOD_LSFT)>;
        };
        dot_colon: dot_colon {
            compatible = "zmk,behavior-mod-morph";
            #binding-cells = <0>;
            bindings = <&kp DOT>, <&kp COLON>;
            mods = <(MOD_LSFT)>;
        };

        minus_under: minus_under: {
            compatible = "zmk,behavior-mod-morph";
            #binding-cells = <0>;
            bindings = <&kp DE_MINUS>, <&kp DE_UNDER>;
            mods = <(MOD_LSFT)>;
        };
        hash_quote: hash_quote: {
            compatible = "zmk,behavior-mod-morph";
            #binding-cells = <0>;
            bindings = <&kp DE_HASH>, <&kp DE_SINGLE_QUOTE>;
            mods = <(MOD_LSFT)>;
        };

    };
        keymap {
                compatible = "zmk,keymap";

                default_layer {
                        bindings = <
// ╭─────────────┬─────────────┬─────────────┬─────────────┬─────────────╮   ╭─────────────┬─────────────┬─────────────┬─────────────┬─────────────╮
        &kp Q         &kp W         &kp E         &kp R         &kp T            &kp DE_Z       &kp U         &kp I         &kp O         &kp P   
// ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤   ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤
        &kp A         &kp S         &kp D         &kp F         &kp G             &kp H         &kp J         &kp K         &kp L       &hash_quote
// ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤   ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤
        &kp DE_Y      &kp X         &kp C         &kp V         &kp B             &kp N         &kp M      &comma_semi    &dot_colon    &minus_under
// ╰─────────────┴─────────────┼─────────────┼─────────────┼─────────────┤   ├─────────────┼─────────────┼─────────────┼─────────────┴─────────────╯
                                   &mo CMD       &mo NUM      &kp LSHFT        &kp SPACE      &mo NAV        &kp RET
//                             ╰─────────────┴─────────────┴─────────────╯   ╰─────────────┴─────────────┴─────────────╯
                        >;
                };
                
                num_layer {
                        bindings = <
// ╭─────────────┬─────────────┬─────────────┬─────────────┬─────────────╮   ╭─────────────┬─────────────┬─────────────┬─────────────┬─────────────╮
      &kp DE_TILDE  &kp DE_AT    &kp DE_LBRC   &kp DE_RBRC      ______         &kp DE_STAR    &kp DE_N7    &kp DE_N8     &kp DE_N9      &kp DE_PLUS
// ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤   ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤
      &kp DE_CARET  &kp DE_EURO  &kp DE_LPAR   &kp DE_RPAR   &kp DE_PIPE       &kp DE_SLASH   &kp DE_N4    &kp DE_N5     &kp DE_N6      &kp DE_MINUS
// ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤   ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤
      &kp DE_DEG     ______      &kp DE_LBKT   &kp DE_RBKT      ______         &kp DE_BSLH    &kp DE_N1    &kp DE_N2     &kp DE_N3      &kp DE_EQUAL
// ╰─────────────┴─────────────┼─────────────┼─────────────┼─────────────┤   ├─────────────┼─────────────┼─────────────┼─────────────┴─────────────╯
                                    ______        ______        ______         &kp DE_N0     &kp DE_LESS_THAN  &kp DE_LESS_THAN
//                             ╰─────────────┴─────────────┴─────────────╯   ╰─────────────┴─────────────┴─────────────╯
                        >;
                };

                nav_layer {
                        bindings = <
// ╭─────────────┬─────────────┬─────────────┬─────────────┬─────────────╮   ╭─────────────┬─────────────┬─────────────┬─────────────┬─────────────╮
        ______        ______        ______        ______        ______           &kp DEL       &kp PG_UP      &kp UP       &kp PG_DN       &kp BSPC
// ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤   ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤
        ______    &kp DE_O_UMLAUT &kp DE_A_UMLAUT &kp DE_U_UMLAUT ______         &kp ESC      &kp LEFT       &kp DOWN      &kp RIGHT      ______
// ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤   ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤
        ______        ______        ______        ______        ______            ______        &kp RET       &kp HOME      &kp END        ______
// ╰─────────────┴─────────────┼─────────────┼─────────────┼─────────────┤   ├─────────────┼─────────────┼─────────────┼─────────────┴─────────────╯
                                    ______        ______        ______            ______        ______        ______
//                             ╰─────────────┴─────────────┴─────────────╯   ╰─────────────┴─────────────┴─────────────╯
                        >;
                };

                cmd_layer {
                        bindings = <
// ╭─────────────┬─────────────┬─────────────┬─────────────┬─────────────╮   ╭─────────────┬─────────────┬─────────────┬─────────────┬─────────────╮
       ______          ______      ______        ______         ______            &kp F2        ______        ______        ______        &kp DE_GRAVE  
// ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤   ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤
       &sk LSHFT    &sk LCTRL     &sk LALT      &sk LGUI         ______           &kp F4     &kp DE_DOLLAR &kp DE_PERCENT &kp DE_AMPERSAND &kp DE_ACUTE           
// ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤   ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤
       ______         ______         ______      ______       ______              &kp F11    &kp DE_EXCL   &kp DE_DQT    &kp DE_SECTION &kp DE_QUESTION
// ╰─────────────┴─────────────┼─────────────┼─────────────┼─────────────┤   ├─────────────┼─────────────┼─────────────┼─────────────┴─────────────╯
                                    ______        ______        ______            ______        ______        ______
//                             ╰─────────────┴─────────────┴─────────────╯   ╰─────────────┴─────────────┴─────────────╯
                        >;
                };
        };
};
